.search {
	position: relative;
}

.input {
	padding-right: 36px;
	width: 100%;
}

.button {
	position: absolute;
	right: 3px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}