.footer {
	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: 40px;
	
	background-color: var(--primary);
	color: var(--white);
	padding: 25px 32px;
	font-size: 16px;
	line-height: 20px;

	@media (max-width: 768px) {
		row-gap: 16px;
	}

	a {
		&:hover {
			color: var(--gray-light);
		}
	}
}