.header {
	grid-template-columns: 1fr 40px;
	gap: 15px;
	padding: 15px;
	display: none;

	@media screen and (max-width: 768px) {
		display: grid;
	}
}

.mobileMenu {
	background-color: var(--body);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	padding: 20px 10px;
}

.menuClose {
	background-color: inherit;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 11;
}