.menu__firstLevelWrap {
	margin-top: 20px;

	&:first-child {
		margin-top: 10px;
	}
}
.menu__firstLevelItem {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-self: center;

	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	
	&.active,
	.firstLevel:hover {
		color: var(--primary);
		svg {
			fill: var(--primary);
		}
	}
}

.menu__secondLevelWrapper {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;
	border-left: 1px solid #DFDFDF;
}

.menu__secondLevelItem {
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--gray-dark);
	font-weight: 300;
	font-size: 12px;
}

.menu__thirdLevelWrapper {
	overflow: hidden;
}

.menu__thirdLevelItem {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
	color: var(--gray-dark);
	font-weight: 500;
	font-size: 14px;
	outline-offset: -1px;

	&.active,
	&:hover {
		color: var(--primary);
	}
}
